.content-wrap{
	text-align: center;
	background: #fff;
	border-radius: 2%;
	padding: 10% 10%; 
}
.logout-btn{
	margin:10px 0;
}
.admin-heading{
	font-weight: 700;
	color: $highlightColor;
	font-style: oblique;
	font-size: 2.8em;
}