<div class="container-fluid">
	<div class="row">
			<nav class="navbar fixed-top navbar-default">
			 <div class="container-fluid">
			 	<div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			       <a class="navbar-brand" href="">
				    	<img src="/assets/logo.png" alt="" class="d-inline-block align-top nav-brand-img" alt="">
				  </a> 
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav"> 
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><button class="btn btn-primary logout-btn">Go Back!</button></li>
			      </ul>
			    </div>
			 </div>
			</nav>
		<div class="col-md-12">
			<section>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="text-center">Details About the Ad</h3>
						<table class="table">
							<tbody>
								<tr>
									<td>URL</td>
									<td>https://codepen.io/RRoberts/pen/pEXWEp</td>
								</tr>
								<tr>
									<td>Host</td>
									<td>Google</td>
								</tr>
								<tr>
									<td>Last Analysis</td>
									<td>{{date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-10 col-md-offset-1">
						<table class="table">
							<thead>
								<tr>
									<th>ABC</th>
									<th>DEF</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										hellow	
									</td>
									<td>
										World
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		<footer class="footer">
	      <div class="container">
	        <span class="text-muted text-center">Copyright&copy; Infosys Limited&reg;</span>
	      </div>
	    </footer>
	</div>
</div>
