<div class="vid-container">
  <video class="bg-video" poster="../assets/Mobile-Games.jpg" autoplay="true" loop>
    <source src="../assets/Mobile-Games.mp4" type="video/mp4">
    <source src="../assets/Mobile-Games.webm" type="video/mp4">
  </video>
  <div class="video-overlay"></div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" id="row-1">
			<img src="assets/Picture1.png">
			<div class="sub-head">
				<h4>Presents</h4>
				<h1>Ad Certification System</h1>
				<div id="sub-head-content">
					<p><span class="highlightContent">Quality is Key -</span> This system is designed to ensure that the ADs from the third party providers that reach the customer adhere to the high standards of the OTT players.</p>
					<p><span class="highlightContent"> Security is our concern </span> - Our System checks the ADs for any malware to provide safe streaming.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="arrowContainer">
				<span id="downArrow" class="glyphicon glyphicon-chevron-down"></span>
			</div>
			<div id="contactContainer">
				<a href="#login">
					<button class="customButton" >Get Started</button>
				</a>
			</div>
		</div>
	</div>
</div>