<div class="container-fluid">
	<div class="row">
		<nav class="navbar fixed-top navbar-default">
		 <div class="container-fluid">
		 	<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		       <a class="navbar-brand" href="">
			    	<img src="/assets/logo.png" alt="" class="d-inline-block align-top nav-brand-img" alt="">
			  </a> 
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav"> 
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><button class="btn btn-primary logout-btn">Logout</button></li>
		      </ul>
		    </div>
		 </div>
		</nav>
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center admin-heading">Publisher Dashboard</h1>
			<br><br>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator" src="../assets/thumb.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
				</div>
			</div>
			<table class="table table-hover table-responsive table-bordered">
			  <thead>
			  	<tr>
			  		<th>Token</th>
			  		<th>Ad Name</th>
			  		<th>Id</th>
			  		<th>Thumbnail</th>
			  		<th>Status</th>
			  		<th>Details Report</th>
			  	</tr>
			  </thead>
			  <tbody>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  		<tr>
			  			<td>ADHJASDJ</td>
			  			<td>Google</td>
			  			<td>856755</td>
			  			<td>http://asd.conamkas.com</td>
			  			<td>UP</td>
			  			<td>Report</td>
			  		</tr>
			  </tbody>
			</table>
			<div class="row">
			  <div class="col-md-4 col-md-offset-4">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		</div>
		<footer class="footer">
	      <div class="container">
	        <span class="text-muted text-center">Copyright&copy; Infosys Limited&reg;</span>
	      </div>
	    </footer>
	</div>
</div>